.admin-page__header
  = link_to "New Buyer", "#"

.main-content
  %h2 Create a new buyer
  .row
    .col-sm-12
      = form_for @buyer,
        url: custom_admin_buyers_path,
        html: { role: "form", class: "form-horizontal main-content__form" } do |form|

        = render "/application/error_messages", object: @buyer
        = render "form", form: form

        .col-sm-offset-2
          = button_tag(type: 'submit', class: "button-clear") do
            %span Create Buyer
