%nav.navbar.navbar-default.navbar-static-top{role: "navigation"}
  / We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns.
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-8", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if signed_in?
        = link_to (image_tag 'PI_logo_white_sm.png',
                    alt: 'Post Invoice Logo',
                    width: 180,
                    class: 'img-responsive logo'), current_root_path
      - else
        = link_to (image_tag 'PI_logo_white_sm.png',
                    alt: 'Post Invoice Logo',
                    width: 180,
                    class: 'img-responsive logo'), current_root_path
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-8.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        - if signed_in?
          = nav_link 'Auctions', auctions_path
          - if current_user.buyer? && current_user.status == 'complete'
            = nav_link 'Sellers', sellers_path

        - if signed_in? && admin?
          = nav_link 'Admin Dashboard', admin_dashboard_path
        - if signed_in? && !current_user.admin? && current_user.seller? && current_user.account.complete?
          = nav_link 'Create Auction', new_auction_path
      %ul.nav.navbar-nav.navbar-right
        - if signed_in?
          - if current_user.seller? && current_seller.completed_registration?
            %li.dropdown
              = link_to seller_path(current_user.account), class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
                = current_user.company.name
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to 'My Company Profile', seller_path(current_seller)
                %li
                  = link_to 'My Auctions', seller_auctions_path(current_seller)
                %li
                  = link_to 'My Debtors', seller_debtors_path(current_seller)
                %li
                  = link_to 'My Invoices', seller_invoices_path(current_seller)
                %li.divider
                %li
                  = link_to 'Sign out', sign_out_path, method: :delete
          - else
            %li.dropdown
              = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
                = current_user.name
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to 'My Profile', buyer_path(current_user.account)
                %li
                  = link_to 'Sign out', sign_out_path, method: :delete
        - if !signed_in?
          %li
            = link_to 'Sign in', sign_in_path
          %li
            = link_to 'Sign up', sign_up_path
      //.navbar-collapse
