%h3 The Invoice Exchange (PostInvoice) Terms and Conditions

%section
  %p
    The Invoice Exchange Pty Ltd ABN 341 510 85157 trading as PostInvoice 
    %strong (Company or PostInvoice) 
    is a proprietary limited company registered in New South Wales. Our registered offices are at 1403/81 Macleay Street, Potts Point, NSW 2011.

  %p
    PostInvoice is a receivables exchange via 
    = link_to "www.postinvoice.com.au", "/"
    %strong (the Exchange, Website or Site) 
    for the sale and purchase of receivables conducted between (i) a seller; and (ii) a buyer(s). In these terms and conditions, where the context requires, the term "customer(s)" includes a seller, buyer, user of the Site or other relevant third party. We provide our customers with a platform or Exchange to sell and buy invoices/receivables via a real time auction 
    %strong (Service or Auction). 
    In consideration for the Service you pay us fees as described below.

  %p
    In these terms and conditions, as they may be amended from time to time 
    %strong (Terms &amp; Conditions) 
    references to "we", "us", "our" and any similar expression shall include the Company. Unless the context otherwise requires, words denoting the singular shall include the plural and vice versa, words denoting any gender shall include all genders and words denoting persons shall include bodies corporate and unincorporated associations, partnerships and individuals.

  %p
    These Terms &amp; Conditions are entered into between us and the customer 
    %strong (you).

%section
  %h3 USER AGREEMENT (GENERAL TERMS &amp; CONDITIONS)

  %p
    The Terms and Conditions (or User Agreement) is set out below.

  %h5
    %span 1.
    Effect of these Terms &amp; Conditions

  %p
    By agreeing to these Terms &amp; Conditions and/or by your use of the Exchange, you are bound by the entirety of these Terms &amp; Conditions and any other document that is incorporated by reference into these Terms &amp; Conditions. If there is any inconsistency between these Terms &amp; Conditions and any document incorporated by reference, these Terms &amp; Conditions take priority and will prevail.

  %p
    We may make changes to these Terms &amp; Conditions from time to time and will take steps to bring any such changes to your attention (such as by placing a notice of the change on a prominent position on the Website, together with the changed Terms &amp; Conditions). It is your responsibility to check these Terms &amp; Conditions from time to time to ensure that you agree with them, and your continued use of the Exchange after any change to these Terms &amp; Conditions will be deemed to be your acceptance of the change. If we make a change to these Terms &amp; Conditions between the times you make an offer to sell or buy through the Exchange and the time that offer is accepted, the offer and any sale contract or agreement made in connection with it will be subject to these Terms &amp; Conditions as they were before we made that change.

  %p
    Please note that additional conditions governing the Service and your relationship with us are contained in other pages on the Site and unless those conditions conflict with these terms and conditions, they will be incorporated into and will form part of the General Terms and Conditions. In particular, please carefully read all information relating to our Privacy Policy which contains important information relating to your use of the Site.

  %p
    IF YOU DO NOT ACCEPT THE TERMS AND CONDITIONS OF THIS AGREEMENT, PLEASE EXIT THIS SITE AND CEASE USING THE SERVICES IMMEDIATELY.

%section
  %h5
    %span 2.
    Representations and Warranties of the customer

  %p
    You represent and warrant the following to us:

  %ol
    %li
      You are 21 years of age or a corporation, and capable of taking responsibility for your own actions if you wish to sell or buy receivables/invoices via POSTINVOICE.
    %li 
      If you’re a buyer, you are a ‘sophisticated investor’ or ‘professional investor’ within the meaning of section 708(8) or section 708(11) of the 
      %em Corporations Act 2001 
      %strong (Act) (Institutional Accredited Investors);
    %li If you’re a buyer any purchase or sale of a receivable/invoice will be for your own account or for the account of one or more other Institutional Accredited Investors, and you have such knowledge and experience in financial and business matters that you are capable of evaluating the merits and risks of purchasing the receivables/invoice(s) and have conducted your own due diligence about your participation on the Exchange.
    %li
      You are not, and will not carry out the activities of, a credit broker.
    %li
      You can enter into a legally binding agreement with us, and you are the person whose details have been provided in connection with your POSTINVOICE Account and/or Profile and will not allow any other person to trade on your POSTINVOICE Account.
    %li
      You understand that by using the PostInvoice Services you may lose money and accept that you are fully responsible for any such loss.
    %li
      When you pay money into the bank account held on trust for the benefit of POSTINVOICE’s customers 
      %strong (Trust Account) 
      you are authorised to do so. You will make such payments in good faith and will not attempt to reverse a payment made into the Trust Account or take any action which will cause such a payment to be reversed by a third party.
    %li
      You undertake to use the Services only for the sale or purchase of receivables (in the form of saleable invoices) as we permit and as envisaged by these Terms &amp; Conditions.
    %li
      You are not knowingly selling to or buying receivables from a Related Party (as that term is defined under the Act) via POSTINVOICE. A Related Party could also be a person connected with another person if that person is the individual’s spouse, registered civil partner, relative or relative of the spouse or registered civil partner. Trustees are also deemed to be connected to settlors, and people in business partnerships are similarly connected, as are their spouses, registered civil partners and relatives.
    %li
      You will not access or use the Site except for its intended purpose and will not attempt to hack, make unauthorised alterations to or introduce any kind of malicious code to the Site or the Company by any means. Unless given prior approval from POSTINVOICE or as otherwise permitted by law, you will not (a) reverse engineer or decompile (whether in whole or part) any software available through the Site ; or (b) make copies, modify, reproduce, transmit, alter or distribute all or any part of the Site or any material or information contained on it.
    %li
      You will not disguise or interfere in any way with the IP address of the computer you are using to access the Site or otherwise take steps to prevent us from correctly identifying the actual IP address of the computer you are using whilst accessing the Site.
    %li
      You agree it is your responsibility to account for any tax imposed on you as a result of transacting through the Exchange, including on any financial return you may earn.
    %li
      We reserve the right to determine whether or not your conduct is consistent with these Terms and what we believe is good practice for the Site. We may, in our sole discretion, immediately terminate your Account and use of the Service if your conduct is deemed by us to be inconsistent with these Terms or our standards of practice. However, in exercising our rights, we do not intend to act unreasonably.

%section
  %h5
    %span 3.
    POSTINVOICE Accounts

  %ol
    %li
      %em Registering
      %ol.letters
        %li
          Before you are able to start selling or buying on POSTINVOICE, we will require you first to apply and register with us to create a POSTINVOICE account 
          %strong (your POSTINVOICE Account).
        %li
          You agree to provide accurate registration information in connection with your application to become a customer, including your correct name, date of birth, e-mail address, current address and all other particulars or information requested or required by or in connection with the application. You agree to inform us promptly of any changes in such information.
        %li
          You agree to provide us with the account number of the Australian bank account that you wish to use to pay money to, and or receive money from, POSTINVOICE (your Nominated Bank Account).
        %li
          You authorise us, at any time, to use any means that we consider necessary to verify your identity with any third party providers of information. Please refer to our Privacy Policy below for details of steps we may undertake to do this.
        %li
          Within the registration or application process you will be required to choose a login code (which must be a valid e-mail address) and a password.
        %li
          Registration will be conducted using secure server encryption.
    %li
      %em Confirmation and passwords
      %ol.letters
        %li 
          Upon completion of our application and registration process, we will:
          %ol
            %li
              confirm by e-mail, to the address you have supplied, that your POSTINVOICE Account is open; and
            %li
              inform you of your user code or number 
              %strong (your POSTINVOICE Account Number) 
              that we will use in all correspondence with you.
    %li
      You agree to keep your login code, password and POSTINVOICE Account Number strictly confidential, and provide them only to us and only when requested, and you are responsible for any misuse of them. You will protect your login code, password and POSTINVOICE Account Number in the same way as you would details of your bank account and any failure to do so shall be at your sole risk and expense.
    %li
      You should change your password on a regular basis. Passwords should contain a mixture of upper and lower case letters and numbers and/or symbols. Passwords are case sensitive and we recommend the use of passwords that combine a combination of non obvious letters and numbers in different cases. This will help to prevent the risk of unauthorised use of your POSTINVOICE Account.
    %li
      We are entitled to assume that all correspondence, orders, transfers and instructions made by reference to your login code, password or POSTINVOICE Account Number are made by you. You agree to inform us at once by e-mail and by telephone if you believe that a person is misusing any of your POSTINVOICE Account information so that we may suspend your POSTINVOICE Account.
    %li
      You must not use false or misleading information when registering or using the Service. Your obligations to us won’t be reduced for any reason including, for example, where you use a false name. If your details have changed since you last used the Service, you must provide us with updated details. We are not responsible for any loss or damage (including misdirected emails or notices) which may occur because you have not provided us with complete and accurate information.
    %li
      We intend to send notifications to you by e-mail including in relation to:
      %ol.letters
        %li
          your eligibility to use the Services
        %li
          any further information in connection with your application that we may require from time to time
        %li
          the status of an online auction in which you are participating, notifying whether you have been outbid or are the winning bid;
        %li
          any relevant notices or acknowledgements received from debtors or other relevant third parties in connection with the provision of goods or services; and
        %li
          any other matters (subject always to our Privacy Policy) we consider or deem appropriate
    %li
      However, we accept no liability for any loss or damage incurred if, for whatever reason, you do not receive such notifications.

%section
  %h5
    %span 4.
    Becoming a Buyer

  %ol
    %li
      You must be an Institutional Accredited Investor.
    %li
      If your bid to buy receivables/invoices is successful, the Exchange will notify you by e-mail. You must then place funds (comprising the purchase price under the Sale Contract) by bank direct transfer into the nominated account of the seller (the details of which will be contained in the notification) in the Trust Account from your Nominated Bank Account or by debit card payment via a debit card linked to your Nominated Bank Account. If making a bank transfer you must include your POSTINVOICE Account Number in the reference field.
    %li
      Your buying limit is represented by your Available to Buy balance which will be shown on the Your Account page of the Website. This will be the money that you have paid into Trust but have not yet used via the Exchange.
    %li
      When you enter into a transaction you create and must execute a legally binding Sale Contract with the seller or Exchange (as the case may be). You must ensure that you comply with and observe your obligations and any laws relevant to you as a buyer and the terms of the Sale Contract.
    %li
      You alone, and not PostInvoice, are responsible for ensuring that your Account and or Profile, bidding, selling, buying and any other activities conducted on our site are lawful. You must ensure that you comply with all applicable laws in Australia and, if applicable, other countries. You must also ensure that you strictly comply with this Agreement and the policies which form part of the Agreement.

%section
  %h5
    %span 5.
    Becoming a Seller

  %ol
    %li
      To sell receivables you must first have applied as part of the application process and received notification of approval from PostInvoice regarding your application. Once approved by PostInvoice, we will work with you to determine suitability of receivables/invoices for sale on the Site.
    %li
      Once invoices are approved, you will be provided with a credit rating 
      %strong(Credit Rating). 
      Your Credit Rating will determine the amount of invoices you can sell on the Exchange at any given time 
      %strong (the Credit Rate).
    %li
      Pay your application fee of $850.
    %li
      To apply for a Credit Rating:
      %ol.letters
        %li
          You must answer the additional questions that we will ask you and agree to undergo our credit checking process.
        %li
          Details of how we may use your personal information to determine your Credit Rating are set out in our Privacy Policy. In particular, in considering your application we will carry out a search with at least one of our preferred credit rating agencies (the Credit Reference Agencies). Details of the initial search carried out will be recorded by the relevant Credit Reference Agency but will not be visible to other organisations that make searches with them, and it will not affect your credit score adversely.
        %li
          We will use a credit scoring system when assessing your application.
        %li
          After we have received relevant information from one or more Credit Reference Agencies we will use that to help us determine your Credit Rating.
        %li
          After we have determined your Credit Rating we will inform you of your Credit Rate and the amount of receivables/invoices you are entitled to sell.
        %li
          If you require further information about how your data will be used by the Credit Reference Agencies it is set out here Privacy Policy.
    %li
      You should be aware that only approved buyers on the Exchange can view your Account/Profile.
    %li
      You are solely responsible for enforcing any rights that they may have as a consequence of your use of the Site.
    %li
      You alone, and not PostInvoice, are responsible for ensuring that your Account/Profile, bidding, selling, buying and any other activities conducted on our site are lawful. You must ensure that you comply with all applicable laws in Australia and, if applicable, other countries. You must also ensure that you strictly comply with this Agreement and the policies which form part of the Agreement.

%section
  %h5
    %span 6.
    Offers to Buy or Sell

  %ol
    %li
      Any offer to buy or sell receivables that you make must refer to a Auction available on POSTINVOICE and include the amount(s) + discount rate which you are prepared to accept or pay for the relevant receivable(s)/invoice.
    %li
      The [rate – price] at which you sell 
      %strong (the Seller Return) 
      will be displayed as the [rate] which assumes [full face value of the relevant invoices]. The rate at which you are matched with one or more buyers 
      %strong (the Sell Rate) 
      is the agreed invoice amount required to achieve the Seller Return.
    %li
      The rate at which you are prepared to buy will be expressed as the [buyer amount] 
      %strong (Buy Rate), 
      and will be based on [the Auction] and will be made up of:
      %ol
        %li the Sell Rate;
        %li face value of invoice(s)
        %li discount rate
        %li your Credit Rate; and
        %li a Service Rate Fee and or commission due to POSTINVOICE.
    %li
      You appoint the Company as your agent (i) for the communication of your [orders] to sell or buy; (ii) for receipt of communications of acceptance of your orders to sell or buy; (iii) to execute on your behalf any legal agreements or deeds in relation to offers to sell which have been accepted by a buyer including, without limitation, an unconditional and binding sale contract 
      %strong (Sale Contract) 
      documenting the terms of the transaction between the buyer and seller; (iv) to enter into any transfer or assignment agreements (or notices in relation thereto) on your behalf in order to assign the benefit of or transfer all or part of any receivables/invoices sold or acquired under the Sale Contract; and (v) register a security interest(s) on Personal Properties Securities Register (refer to general section below).
    %li
      An offer to sell or buy will be open for acceptance by customers, either as persons or as combinations of persons using our Exchange.
    %li
      You may offer to sell or buy at a particular rate you select or at a better rate, which may be higher or lower, depending on whether you are selling or buying if that is to your advantage.
    %li
      An offer to sell or buy that you make on POSTINVOICE will remain open for acceptance by any of our customers as set out in section [ ] below (unless properly cancelled by you in accordance with these terms or the Auction is otherwise closed). You may not nominate any individual(s) to be counterparties to any of your offers to sell or buy.
    %li
      Your offer to sell or buy may be posted on POSTINVOICE in isolation or in combination with other offers to buy or sell on the same Auction.
    %li
      You will inform us as soon as you become aware of any errors with respect to your POSTINVOICE Account or [POSTINVOICE Profile] or any calculations with respect to any offer to sell or buy you have placed. We reserve the right to remove from the Exchange or Site any offers for the sale or purchase of receivables, which are the subject of any error.
    %li
      Your offer to buy or sell will only be valid and open for acceptance if it is made in accordance with our Terms &amp; Conditions. We reserve the right to refuse to post your offer on our Exchange without giving prior notice.
    %li
      If we allow you to make an offer to sell or buy and subsequently suspect that you are or were, at the time of making the offer, in breach of these Terms &amp; Conditions, we may, at our absolute discretion, withdraw your offer and any further offers from our Exchange.
    %li
      You are entirely responsible for the information that you provide to us concerning each offer that you make. We will not enquire into the reasonableness of any offer that you may make. We will not be liable for incorrect entries made by you on the Site, including data input errors with respect to the amount of an invoice or receivable(s) for sale .
    %li
      Once you have confirmed that you wish to place a particular offer to buy or sell, you agree to leave the offer for that invoice/receivable open for acceptance, subject to termination of the offer or close of the Auction by us after 10 days for an offer to buy or 10 days/hours for an offer to sell up to official close of the Auction, or removal of the offer from the Exchange for any of the reasons set out in these Terms &amp; Conditions or your valid cancellation of the offer strictly in accordance with these Terms and Conditions.
    %li
      Once your offer to buy or sell is accepted, you will not be able to change the terms of your offer even if you had intended to cancel your offer but failed to do so or the message to us to cancel your offer was not received and processed by us before the offer was accepted or Sale Contract entered into whichever occurs first.
    %li
      We may determine, at our absolute discretion, when our Exchange is open for the posting of offers to buy or sell invoices/receivables on any particular Auction and may close the Exchange at any time at our absolute discretion.

%section
  %h5
    %span 7.
    Acceptance of offers

  %ol
    %li
      You can obtain details of the available offers to sell and buy by visiting the Auction page on the Website.
    %li
      In the case of an offer to buyer, once your offer has been accepted you will not be given the opportunity to change the Sale Contract made by that acceptance. You will not be allowed to withdraw from that sale unless you use the Sell-Out function.
    %li
      The 
      %strong Sell-Out 
      function allows a buyer to sell their Sale Contract provided there is a new buyer available to match their existing Sale Contract. The Sell-Out function is available as an option in the Buyer’s Account.
    %li
      Sale Contracts will be documented on the terms of standard form receivable or true sale documentation applicable to a particular transaction or series of transactions in the case of multiple or a batch of invoices 
      %strong (a Standard Sale Contract).
    %li
      Acceptance of an offer to buy or sell, once received by us, will represent and confirm that:
      %ol
        %li
          both parties agree to be bound, and will be bound, by the Sale Contract;
        %li
          both parties consent to the payment arrangements and appointment of the Exchange as agent ; and
        %li
          each buyer agrees to sub-contract the collection of any missed payments due from debtors due to PostInvoice (or any other collection agency as may be appointed by PostInvoice from time to time) (PostInvoice Collector) in accordance with the collections procedure published on the Site from time to time.
        %li
          We will attempt to match your offer on your behalf with offers to buy or sell made on our Exchange so that you will receive either the Sell Rate or Buy Rate that you have requested or a better rate, which may be higher or lower, depending on whether you are selling or buying if that is to your advantage.
        %li
          While we will attempt to ensure that offers to sell and buy are correctly displayed and are effectively outstanding, we do not guarantee that every offer displayed as outstanding on the Site will be available for your acceptance.
        %li
          All or part of the offer of an invoice/receivable displayed on the Website at a specific Sell Rate or Buy Rate may be successfully cancelled or accepted by one or more other counterparties before your acceptance is processed by us. In this case, the offer to sell or buy will be withdrawn before your acceptance of that offer is acknowledged. Your failed attempt to accept the invoice(s)/receivable(s) formerly on offer will however be posted as a new offer available for acceptance by other customers.
        %li
          We will display all accepted offers in Your Account on the Site or otherwise we will contact you directly.
        %li
          You are able to check in Your Account on the Site which of your offers to sell or buy either remain outstanding or have been accepted.
        %li
          You may only accept offers to buy or sell using our Exchange in accordance with these Terms &amp; Conditions. Any purported acceptance made by means other than by completing the application screen in the relevant Auction on the Website and/or entry into a Standard Sale Contract will be ineffective.
        %li
          In the case of an offer to buy, once your offer has been accepted, Sale Contracts will be immediately formed between you and each seller.

%section
  %h5
    %span 8.
    Cancellation of an Offer

  %ol
    %li
      Unmatched offers to buy or sell posted on our Exchange may be withdrawn at any time (unless and until they have been accepted) by cancelling the relevant offer in Your Account.
    %li
      The cancellation of an outstanding offer to sell or buy becomes effective when your instruction to cancel is successfully received and processed by us. If we do not receive and process the cancellation in good time, you acknowledge that your offer may remain outstanding and available for acceptance.
    %li
      If you attempt to cancel an offer to buy or sell that is outstanding, you may not be able to do so if any counterparty has partially or wholly accepted your offer before your cancellation request has been processed by us. In this case, your original offer, will be validly accepted and settled.
    %li
      You can decide to cancel your Sale Contract in accordance with the terms of the Standard Sale Contract governing that transaction.
    %li
      You must tell POSTINVOICE or the POSTINVOICE Collector, as the case may be, promptly when your circumstances change in a way that may adversely impact your ability to perform under your Sale Contract.
    %li
      If your relationship with POSTINVOICE or the POSTINVOICE Collector has broken down this will be included in the information supplied to the Credit Reference Agencies. You should be aware that this may have serious consequences for your ability to get credit in the future.

%section
  %h5
    %span 9.
    Assignments and Transfers

  %ol
    %li
      As a seller, you authorise the Company, acting as your agent, at its discretion to enter into assignment agreements and other forms of transfer in order to assign the benefit of or transfer all or part of any Sale Contract to which you are a party:
      %ol
        %li
          if there has been or (in the opinion of the Company) is reasonably likely to be a breach or default under a Sale Contract; or
        %li
          if you give notice to the Company that you wish to Sell-Out of your Sale Contract.

%section
  %h5
    %span 10.
    User of the POSTINVOICE Services

  %ol
    %li
      You are responsible for understanding the contents and operation of these Terms &amp; Conditions and of our Exchange. We reserve the right to change the format of the POSTINVOICE Services we offer in order to enhance the POSTINVOICE Services and we reserve the right to record ALL telephone calls to POSTINVOICE and to monitor all information relating to activity on your account, for which purposes you hereby consent.
    %li
      You agree not to:
      %ol
        %li
          register at POSTINVOICE more than once; register at POSTINVOICE on behalf of a person other than yourself; or register at POSTINVOICE on behalf of any entity without that entity's prior written authorisation;
        %li
          impersonate any person or entity, or falsely state or otherwise misrepresent yourself, your financial employment or personal circumstances or your affiliation with any person or entity; use or attempt to use another's Account, service or system without authorisation from us; or create a false identity on the Exchange;
        %li
          solicit personal information from anyone or solicit passwords or personally identifying information for commercial or unlawful purposes;
        %li
          transact on the Exchange on the basis of any change (other than a change agreed with POSTINVOICE) to this Agreement, the Sale Contract or any other terms or conditions contained on the Website or which regulate the
          transaction.

%section
  %h5
    %span 11.
    POSTINVOICE's Charges

  %ol
    %li
      We provide you with a platform which enables you to sell or buy receivables, in consideration of which we will be paid a fee (from the buyer and seller) and may levy other payment or fees from time to time 
      %strong (Charges).
    %li
      The fees payable by a seller to POSTINVOICE may vary from Auction to Auction and will be clearly set out at the point that each buyer makes their offer to buy. The fees charged on an Auction will be stated in the terms for the particular Auction and POSTINVOICE reserves the right to amend these from time to time.
    %li
      We will calculate the Charges you owe us and notify the Trustee accordingly. Upon the Trustee deducting any amount you owe us from your share in the Trust assets and holding such amount on trust for us, your obligation to pay us this amount shall be discharged. The Charges will be deducted by the Trustee from the funds you have paid into the Trust and will be paid to us.
    %li
      Any Charges owed to us will be rounded to the nearest two decimal places. If the amount ends in 0.5 it will be rounded up
    %li
      If you are late in making payment, POSTINVOICE will initially attempt to make contact with you and resolve the matter without involving the POSTINVOICE Collector. During this period, you acknowledge and agree to POSTINVOICE send you a letter or notice 
      %strong (Notice Letter) 
      informing you of your default and that your account will be passed to the POSTINVOICE Collector. If we have not resolved the issue prior to our sending you the Notice Letter late charges will apply 
      %strong (Late Charge) 
      and be payable by you. If the account is passed to the POSTINVOICE Collector the Late Charge will be added to the sums that they are seeking to recover from you.
    %li
      If your account is passed to the POSTINVOICE Collector they will add their fee to the overdue sum. The total of the Late Charge, any unpaid receivables and the POSTINVOICE Collector's fee will be payable by you.
      %ol
        %li
          The POSTINVOICE Collector's fees will be $[1000] after the Sale Contract has been put in default. Further fees may be added to your debt if any third party fees are incurred.

%section
  %h5
    %span 12.
    User of Personal Information

  %ol
    %li
      Our Privacy Policy (as it appears from time to time) is available on the Site. We will take all reasonable steps to abide by this policy and you agree to abide by the policy when using our Services.
    %li
      If you do not agree to the collection of this information and other information specified in the Privacy Statement, then you may not use the Site or the Services.
    %li
      We may use your personal information to provide the POSTINVOICE Services; to manage your Account and keep you informed about your participation on POSTINVOICE; to assess transaction risks; to trace debtors and recover debt; to identify, prevent, detect or tackle fraud, money laundering and other crime; to carry out regulatory checks; to calculate, collect and make payments under Sale Contracts, and any other sums described in these Terms &amp; Conditions, including the Credit Rate; to identify which of our, or others', products might interest you and inform you about them; and for statistical analysis and Auction research. In this section, "personal information" means any information relating to any person.
    %li
      We may also disclose your personal information:
      %ol
        %li
          to our agents and subcontractors, acting for us or for buyers, for any of the purposes described above;
        %li
          to law enforcement agencies and fraud prevention agencies for the purposes of identifying, preventing, detecting or tackling fraud, money laundering and other crime;
        %li
          to Credit Reference Agencies for the purposes of assessing transaction risks;
        %li
          to debt recovery agencies for the tracing of debtors and recovery of debt;
        %li
          to trace debtors and recover debt;
        %li
          to meet our obligations to any relevant regulatory authority or taxing authority; and
        %li
          if we have to by law or it is in the public interest.
    %li
      Please contact us at 
      = mail_to "contact@postinvoice.com.au" 
      if you want to receive details of the relevant fraud prevention agencies.
    %li
      In the course of generating and managing your Sale Contracts, and operating "Your Account", the Exchange and/or the Website, we may also send to sellers and their assignees, or to buyers, as the case may be, certain transactional data (for example, POSTINVOICE Account Number, invoice amount and repayment details) but not your full name, post code address or payment details.
    %li
      Without limiting any of the above, if you give us false or inaccurate personal information, and we identify fraud, we will record this with fraud prevention agencies and may inform law enforcement agencies. We and other organisations (including law enforcement agencies) may use, search and access these records from Australian and other countries to prevent fraud and money laundering.
    %li
      We and other organisations may access and use from other countries the information recorded by credit reference and fraud prevention agencies for the purposes of assessing transaction risks and identifying, preventing, detecting or tackling fraud, money laundering and other crime.
    %li
      Any Credit Reference Agency that is searched as a result of your use of POSTINVOICE will keep a record of any search, and certain third parties may use it to assess applications they receive from you in the future.
    %li
      By submitting personal information to POSTINVOICE, you agree that it may be used in all the ways described above. We will not be liable for any use or misuse of your personal data by others, but you agree to inform us promptly of any misuse of the Exchange or the Website of which you are aware.
    %li
      Under the Privacy Act check if we need to comply with this, you have a right to access certain personal records we hold about you.
    %li
      We do not disclose your Personal Information to any other POSTINVOICE customers unless it is necessary to enforce any of your Sale Contracts.

%section
  %h5
    %span 13.
    Communications and Notices

  %p
    Communications and notices to be given under these Terms &amp; Conditions (other than those exchanges of information occurring in the normal operation of the site) should be sent to us in the manner prescribed in the Contact Us page.

%section
  %h5
    %span 14.
    Liability

  %ol
    %li
      Indemnity
      %ol.letters
        %li
          You agree to indemnify and hold each other POSTINVOICE customer, useand our associated companies, affiliates, officers, directors, agents and employees harmless from any liabilities, claims, losses or demands arising out of your fraud.
        %li
          Without prejudice to the above, you also agree to indemnify and hold each other POSTINVOICE customer, us and our associated companies, affiliates, officers, directors, agents and employees harmless from any liabilities, claims, losses or demands arising out of (a) any falsehood or inaccuracy contained in any information you provide us; or (b) another person trading on your POSTINVOICE Account (whether or not authorised by you), except where it is our fault that they have done so.
    %li
      Limitation of liability
      %ol.letters
        %li
          Nothing in these Terms &amp; Conditions will exclude or limit our liability for fraud (including fraudulent misrepresentation or concealment) or any other liability which we cannot lawfully exclude or limit (including our liability with respect to death and personal injury resulting from our negligence, or that of our employees, agents or subcontractors). The remainder of this section will be construed accordingly.
        %li
          We will not be liable to you for any:
          %ol
            %li
              loss of operations, loss of data, loss of contracts, loss of auction share and/or loss of goodwill;
            %li
              increased costs and/or expenses; and/or
            %li
              any type of special, indirect or consequential loss,
          %p
            in each case, including such loss or damage suffered by you as a result of any action brought by a third party, and even if such loss was reasonably foreseeable.
        %li
          We will not be liable to you for any loss of profits (and subject to the other provisions of this section) which you suffer as a result of our negligence or breach of these Terms &amp; Conditions.
        %li
          We will not be liable to you for any loss that you may incur as a result, and to the extent, of your fraud, breach of these Terms &amp; Conditions or negligence, or any misuse of your password unless that misuse results from our negligence or breach of these Terms &amp; Conditions.
        %li
          we will have no liability for not confirming that your POSTINVOICE Account is open or providing you with an Identifier when you open your account;
        %li
          we will have no liability for not exercising reasonable skill and care in determining your Credit Rating;
        %li
          our liability for not exercising reasonable skill and care in determining the Credit Rating of someone to who buys or sells through POSTINVOICE will be limited to the amount of a particular invoice (as the case may be)
        %li
          we will have no liability for not displaying on the Website, for withdrawing or for not matching with any prospective buyer or seller, any offer to sell or buy which you submit to us;
        %li
          we will have no liability for not matching any offer you make to buy or sell;
        %li
          our liability for failing to pay any sum properly due to you will be limited to that sum;
    %li
      We will not be liable for any loss or damage that you may suffer because of any: act of God; power cut; trade or labour dispute, act, failure or omission of any government or authority; obstruction or failure of telecommunication services; or any other delay or failure caused by a third party. In such an event, we reserve the right to cancel or suspend our services without incurring any liability.
    %li
      We will not be liable for any loss or damage that you may suffer because of any negligence or failure to perform by any other person who is party to Terms &amp; Conditions equivalent to these Terms &amp; Conditions (as they may be amended from time to time).
    %li
      Right of set-off
      %ol.letters
        %li
          We may at any time, without notice to you, set off any liability owed to us or to our customers by you, including (without limitation) in relation to any POSTINVOICE account in your name or which we believe to be under your control; against any funds held in another POSTINVOICE account in your name or which we believe to be under your control.
    %li
      Intellectual property
      %ol
        %li
          logo and trade marks of POSTINVOICE
        %li
          = link_to "www.postinvoice.com.au", "/" 
          is the uniform resource locator (URL) of our Company. You will not make any use of this URL (or any other URL owned by us) on another website or digital platform without our prior written consent.
        %li
          You agree to assign to POSTINVOICE any intellectual property rights (including copyright) in any offers placed by you on the Exchange. POSTINVOICE owns all rights in any invoice or receivable value data and related content on the Exchange. Your registration and use of our Exchange confers no rights whatsoever to the content and related intellectual property rights contained in our Exchange. You agree not to monitor, use or copy our web pages or any content on the Exchange, including without limitation any price data. Any unauthorised use or reproduction may be prosecuted.
        %li
          Any data licensed to POSTINVOICE from third parties is provided for use on the Website only and may not be used for any commercial purposes without the consent of such third parties.
    %li
      Assignment
      %ol
        %li
          You may not assign any part of this Agreement without POSTINVOICE's written consent but POSTINVOICE may assign this Agreement to its subsidiaries without notice to you.
    %li
      Exchange Access
      %ol
        %li
          These Terms &amp; Conditions apply to you, through whatever means you access the Exchange.
        %li
          You agree to accept any other POSTINVOICE terms and conditions giving you access to the Exchange,. Any such terms and conditions are incorporated by reference into these Terms &amp; Conditions.

%section
  %h5
    %span 15.
    Severability

  %p
    In the event that any provision of these Terms &amp; Conditions is deemed by any competent authority to be unenforceable or invalid, the relevant provision shall be modified to allow it to be enforced in line with the intention of the original text to the fullest extent permitted by applicable law. The validity and enforceability of the remaining provisions of these Terms &amp; Conditions shall not be affected.

%section
  %h5
    %span 16. 
    Dispute Resolution

  %ol
    %li
      If you want to make a complaint about PostInvoice you can e-mail 
      = mail_to "contact@postinvoice.com"
      with brief details of your complaint and your POSTINVOICE Account Number. Our customer service staff will acknowledge your complaint by e- mail within three working days. They will then investigate and send you an initial response, having had access to an officer with the authority to settle the complaint (including, where appropriate, an offer of redress). Where appropriate, the member of staff investigating the complaint will not be any staff member who was directly involved in the subject matter of the complaint. This should take no longer than five business days, but most complaints may well be resolved by close of business on the business day after the complaint is received. If the complaint is not resolved by close of business on the business day after the complaint is received, we will send you a copy of this complaints handling procedure. If you are not satisfied by our response, email 
      = mail_to "contact@postinvoice.com" 
      and your complaint will be escalated to the Customer Services Manager, who will respond by e-mail within a further five business days.
    %li
      Within four weeks after receiving a complaint, we will send you either a final response or a response which explains why we are not in a position to resolve the complaint and indicates when we will make further contact. If you feel we haven’t resolved your complaint to your satisfaction, you have the right to complain to [insert relevant body if applicable].

%section
  %h5
    %span 17.
    General

  %ol
    %li
      These Terms &amp; Conditions are governed by the laws of New South Wales.
    %li
      The courts of New South Wales have exclusive jurisdiction in relation to all disputes under these Terms &amp; Conditions.
    %li
      These Terms &amp; Conditions may in due course be prepared in various languages other than English for reference only. In the event of any differences between the English version of the Terms &amp; Conditions (accessible from the homepage of 
      = link_to "www.postinvoice.com.au", "/"
      ) and any non-English version, the English version shall prevail.
    %li
      You agree that all documents that we are entitled to send you electronically may be delivered to you at Your Account. Any notices we give you shall be given in writing via the Website to Your Account. You will also receive by e-mail to your e-mail address specified in Your Account from time to time a prompt to refer to Your Account.
    %li
      The records kept by us shall be conclusive of the facts and matters they purport to record.
    %li
      Save in the case of fraud, these Terms &amp; Conditions, and the terms expressly incorporated into them, constitute the entire and only agreement between us and you with regards to their subject matter and you confirm that you have not been induced to enter into these Terms &amp; Conditions in reliance upon, nor have you been given, any condition, warranty (including in particular any warranty as to merchantability, fitness for purpose or uninterrupted functionality), representation, statement, assurance, covenant, agreement, undertaking, indemnity or commitment of any nature whatsoever other than as are expressly set out in these Terms &amp; Conditions and, to the extent that you have been, you unconditionally and irrevocably waive any claims, rights or remedies which you might otherwise have had in relation thereto.
    %li
      No failure or delay by you or us to exercise any rights under these Terms &amp; Conditions shall operate as a waiver thereof and no single or partial exercise of any such right shall prevent any other or further exercise of that or any other right.
