#msa-content
  %h3 TERMS FOR ONLINE SALE AND PURCHASE OF INVOICES

  %section
    %ol
      %li.section-name
        %strong General
        %ol
          %li
            The  Invoice  Exchange  Pty  Ltd  (ACN  151  085  157)  trading  as  Skippr  (
            = succeed "," do
              %strong "the Company"
            or
            = succeed ")" do
              %strong "Skippr"
            operates  www.Skippr.com.au, an invoice finance platform (
            = succeed "," do
              %strong "the Platform"
            %strong "Website"
            or
            = succeed ")." do
              %strong "Site"
          %li
            In  these  Terms,  where  the  context  requires,  the  term  "you"  means  the  person accessing or using the Site and/or its services in the capacity as an Investor Seller of Invoices or Member of the Platform. Any references in these terms and conditions to "W e", "Us", "Our" and any similar expression includes the Company or Skippr.
          %li
            We provide you with a Platform to trade invoices (the
            = succeed ")." do
              %strong "Service"
            In consideration for providing you  access  to  our  Services you  agree  to  pay  us  fees  and  Charges and acknowledge that you will be bound to these Terms and Conditions (the
            = succeed ")." do
              %strong "Terms"
          %li
            These Terms (as amended from time to time at our absolute discretion) constitute a master agreement  between you and the Company,  subject to our right to terminate, suspend or restrict the use of the Platform at anytime without giving you notice.
          %li
            You  acknowledge   that  these  Terms  govern  all  transactions   and  Sales  on  the Platform  and comprise  a single or specific Security Agreement  for the purposes  of the PPSA. All Sales on the Platform are entered into in reliance upon this statement and an understanding that the Parties would not otherwise enter into Sales.
          %li
            The  following  terms  where  appearing  in  these  Terms  have  the  following  defined meanings:
            %span
              %strong "Acceptance"
              means  the  acceptance  by  Skippr  of  the  Seller's  offer  under these Terms;
            %span
              %strong "Anticipated Pay Date"
              means the date the Seller anticipates the Invoice is to be paid by their Customer;
            %span
              %strong "Advance Amount"
              means the  amount  paid  to a Seller  with  respect  to each  and every Invoice on the Platform.
            %span
              %strong "Advance Rate"
              means the stipulated percentage of the Face Value of an invoice;
            %span
              %strong "Agreement"
              means an agreement in any form and whether express, implied, oral or written, for the sale of goods or performance of services;
            %span
              %strong "ASIC Act"
              means the Australian Securities and Investments Commission Act 2001 (Cth);
            %span
              %strong "Assignment"
              means the transfer or true sale of an Invoice by the Seller on the
              Platform and Assign, Sale and Assigned have the same meaning;
            %span
              %strong "Assignment Notice"
              means a Notice issued with respect to an Assignment;
            %span
              %strong "Authorised  officers"
              means the directors  and company  secretaries,  each person who is employed by Seller or an entity which is related to Seller whose title includes "manager",  "assistant  manager",  "company  secretary"  or  "accountant",  and  each person a party advises Skippr is an authorized officer;
            %span
              %strong "Balance"
              means the balance of funds an Authorized   Investor   or Seller has deposited in the Trust Account or Operating Account (as the case may be), which are not committed in respect of the purchase of an Invoice, at a given time;
            %span
              %strong "Business Day"
              means a day other than a Saturday, Sunday or public holiday in
              Sydney, Australia when banks in Sydney are open for business;
            %span
              %strong "Cleared Funds"
              means immediately available funds which the recipient is able to deal with as the absolute owner free of any Security Interest;
            %span
              %strong "Client"
              means the Seller who is a Member of the Platform who is approved to sell invoices individually or as part of a group, by creating a trade;
            %span
              %strong "Credit Note"
              means an adjustment note and any other document or undertaking which reduces the amount payable by a Debtor;
            %span
              %strong "Corporations Act"
              means the Corporations Act 2001 (Cth);
            %span
              %strong "Confidential Information"
              means all material or information, written or oral, disclosed, directly through any means of communication by the Member or Seller to the Company;
            %span
              %strong "Customer"
              means the persons whom an Invoice is issued by a Member of the
              Platform and who is liable, or who should be liable, to pay the Invoice;
            %span
              %strong "Debtor"
              means the person to whom an Invoice is issued by a Seller and who  is liable, or who should be liable, to pay the Invoice;
            %span
              %strong "Discount Rate"
              means the 30 day rate, expressed as a percentage of the Advance
              Amount, charged by the investor when purchasing invoices;
            %span
              %strong "Discount Fee"
              means payable by the Sell er and is calculated accordance with the following formula - (Advance Amount x (Discount Rate/30) x Payment Period)
            %span
              %strong "Due Date"
              means the date that the Face Value is required to be paid by the Debtor under the terms of an Invoice;
            %span
              %strong "Entity"
              includes  an  individual,  firm,  partnership,  joint  venture,  society, unincorporated   body,  trust  (in  each  case  whether  or  not  having  separate  legal personality) and a corporation, and any other legal entity under any law;
            %span
              %strong "Event of Default"
              has the meaning in clause 13.2;
            %span
              %strong "Exchange"
              means   the sale and purchase   of receivables   Site operated   by
              Skippr;
            %span
              %strong "Face Value"
              means,  in respect  of an Invoice,  the amount  on the Invoice  that is invoiced  to the Debtor means the amount  of the Face Value which corresponds  to the amount of the Invoice purchased by us or Investor;
            %span
              %strong "Financial Indebtedness"
              means any obligation for indebtedness in respect of money borrowed or raised, and any financial accommodation of any kind;
            %span
              %strong "Financier"
              means Skippr in its capacity as agent for the Investor***;
            %span
              %strong "Funding Date"
              means the date where either a legal or equitable assignment of an
              Invoice to the Investor has been effected;
            %span
              %strong "Goods  or  Services  in  relation  to  an  Invoice"
              means  the  property  (including rights  and  produce)  sold,  or  which  should  have  been  sold,  by  the  Seller  to  the Debtor, the sale of which gave rise to, or should have given rise to, the Invoice;
            %span
              %strong "Insolvent"
              means:
            %span.spaced
              (a) an application is made, proceedings are initiated or a meeting (whether of shareholders,  creditors or directors) is called with a view to winding up the transaction party or placing it or any part of its undertakings under administration a receiver,  liquidator,  provisional  liquidator  or administrator  is appointed  to the transaction party or any of its assets;
            %span.spaced
              (b) a  compromise   or  arrangement   of  the  kind  referred  to  in  Part  5.1  of  the Corporations  Act is proposed  the transaction  party is or becomes deregistered, or an application  is made or an action is initiated  with a view to cancelling  its registration  or appointing  an inspector  or other  officer  to investigate  any of its affairs pursuant to any law the transaction party is, or may be deemed within the meaning of any applicable law to be, insolvent or unable to pay its debts; or
            %span.spaced
              (c) circumstances  exist  which would  enable  a court  upon  application  to order  the transaction  party's winding  up pursuant  to section 461 of the Corporations  Act; and
            %span.spaced
              (d) any of the following occurs to a transaction party that is an individual he or she is insolvent under administration as defined in section 9 of the Corporations Act, or a receiver is appointed to any of his or her assets;
              %span.spaced
                (i) he or she is, or may be deemed within the meaning of any applicable law to be, insolvent or unable to pay his or her debts; or
              %span.spaced
                (ii) he or she dies, is of unsound mind or becomes incapable of managing his or her own  affairs  Invoice  means  an Invoice  posted  on the Platform which  is addressed by the Seller to the Debtor and evidences or specifies the Goods sold or Services  performed for  which  the Debtor  is obliged  to pay and the terms of payment  (includes  the original,  duplicates  and any copies).  Month means calendar month;
            %span
              %strong "Insolvency Event"
              means an event having occurred whereupon the party becomes Insolvent;
            %span
              %strong "Investor"
              means a Member of the Platform who established an Account on the Platform to acquire Invoices;
            %span
              %strong "Invoice Rating"
              means  the Advance  Rate  and  Discount  Rate  stipulated  by the Skippr;
            %span
              %strong "Material Adverse Effect"
              means ***;
            %span
              %strong "Member"
              means any company or other legal entity which has agreed to be bound by this Agreement and has opened a valid and effective Skippr Account;
            %span
              %strong "Net Advance Amount"
              means the Advance Amount less the Skippr Exchange Fees Less Transaction Fee;
            %span
              %strong "Nominated Account"
              means the bank account nominated by a Seller or Investor for funds to be remitted to;
            %span
              %strong "Operating Account"
              means the bank account administered by Skippr with the following details [insert] ***is this available for insertion?;
            %span
              %strong "Payment Date"
              means the date the invoice is paid into the Operating Account;
            %span
              %strong "Payment Period"
              means the number of days from when an invoice is funded by Skippr to when the invoice is paid by the seller's customer into the Operating Account;.
            %span
              %strong "Particulars"
              means the Particulars in the Schedule of particulars to this Agreement;
            %span
              %strong "Skippr Exchange Fee"
              means the fee paid by the Seller to us on each trade and deducted from the Advance;.
            %span
              %strong "Skippr lnvestor Fee"
              means the fee paid by the Investor to us on the settlement of each trade. Fee deducted from the Discount Fee accrued;
            %span
              %strong "PPSA"
              means Personal Property Securities Act 2009 (Cth);
            %span
              %strong "PPSR"
              means the Personal Property Securities Act 2009 (Cth);
            %span
              %strong "Posts"
              means a Seller uploading details of a Debt or Invoice onto the Platform so as to invite an Offer or trade the Invoice (and Posting is to be similarly construed);
            %span
              %strong "Skippr Account"
              has the meaning in clause 2.1;
            %span
              %strong "Proceeds"
              means   any  cash,   cheque,   bills  of  exchange,   negotiable   or  non- negotiable instruments,  letters of credit, electronic payments or any form of payment made by a Debtor  or Customer  in or towards  a Sale Invoice  (and in all cases, its Related Rights);
            %span
              %strong "Platform"
              means the Site used to post Invoices operated by Skippr under these Terms;
            %span
              %strong "Recourse Period"
              means in respect to an Invoice the period commencing on the
              Funding Date and ending on the Due Date, being 90 days after the Funding Date;
            %span
              %strong "Rating System"
              means the Discount Fee and Advance Rate applied to an invoice by Skippr upon approving an invoice;
            %span
              %strong "Recourse Provisions"
              means the provisions in clause;
            %span
              %strong "Related Bodies Corporate"
              has the meaning pursuant to section 50 of the Corporations Act;
            %span
              %strong "Related Rights"
              means in relation to an Invoice any or all of the following:
            %span.spaced
              (a) all the Sellers rights under a supply contract;
            %span.spaced
              (b) the benefit of all guarantees,  indemnities,  insurances,  rights of retention or title, lien and other remedies or securities given to or held by the Authorised Seller;
            %span.spaced
              (c) all cheques, bills of exchange and other instruments held by or available to the Authorised Seller;
            %span.spaced
              (d) all cheques, bills of exchange and other instruments held by or available to the Authorised Seller;
            %span.spaced
              (e) the right to possession of all records, ledgers and documents (including computerised records) or by which that Invoice is recorded or evidenced;
            %span.spaced
              (f) any goods the subject of a supply contract returned or rejected by the Debtor or repossessed by the Authorised Seller;
            %span.spaced
              (g) the right to recovery of the possession of any goods the subject of a supply contract;
            %span.spaced
              (h) any interest to which an Authorised  Seller  becomes  entitled  in relation  to the Invoice as a result of any statutory enactment or any rule or regulation of government; or
            %span.spaced
              (i) any recovery of GST made or received by an Investor following the issue of a
              Credit Note in respect of an Invoice evidence an assigned notice.
            %span
              %strong "Repurchase Fee"
              means 1% of the Face Value payable to us but only if you are required to repurchase an Invoice. No Repurchase Fees will be charged if there is no demand to repurchase an Invoice;
            %span
              %strong "Repurchase Price"
              has the meaning and is calculated using the formula in clause 12.2;
            %span
              %strong "Sale"
              means a sale or prospective sale of an Invoice conducted by way of the Platform in accordance with these Terms;
            %span
              %strong "Sale Invoice"
              means an Invoice which is the subject of a Sale and which remains outstanding, including (in all cases) its Related Rights;
            %span
              %strong "Security interest"
              includes any kind of oral or written mortgage, pledge, lien, charge, encumbrance,  hypothecation, security interest as defined in section 12 of the PPSA, preferential interest or any other arrangement having substantially the same economic  effect; any right of, or arrangement with, a creditor to have its claims satisfied in priority to other creditors with, or from the proceeds of, any asset; and an interest (other than a security interest as defined in section 12 of the PPSA) held by any entity which could at any time, in any circumstance and to any extent, have priority over a security interest held by Skippr or the Investor;
            %span
              %strong "Seller"
              means a Member of the Platform who is approved to sell invoices individually or as party of a group, by creating a trade;
            %span
              %strong "Trade"
              means to sell an Invoice.
            %span
              %strong "Site"
              means www.Skippr.com.au;
            %span
              %strong "Subsidiary"
              has the meaning pursuant to section 46 of the Corporations Act;
            %span
              %strong "Transaction Document"
              means
            %span.spaced
              (a) these Terms; and
            %span.spaced
              (b) any other Security Interest document entered into between the parties to secure a party's obligations and liabilities under these Terms;
            %span
              %strong "Transaction Fee"
              means fee payable upon transfer of each Advance;
            %span
              %strong "Trust Account"
              means  the  bank  account  administered  by  
              %em Australian Executor Trustees Limited ABN 84 007 869 794 AFSL 240023 
              and where each Debtor remits funds in connection with a Sale Invoice.

          %li
            In these Terms:
            %span.spaced
              (a) headings and clause numbers are for convenience only and do not form part of the document or affect its interpretation;
            %span.spaced
              (b) the singular number  includes  the  plural  and  vice  versa,  unless  the  context requires otherwise;
            %span.spaced
              (c) a reference to a party includes that party's executors, administrators,  trustees, successors and permitted assigns;
            %span.spaced
              (d) a reference to a person includes an individual, corporation, unincorporated association, partnership, joint venture or government body;
            %span.spaced
              (e) references to any statute,  ordinance  or other  law include  all regulations  and other instruments  under it and all consolidations,  amendments,  re-enactments or replacements of it;
            %span.spaced
              (f) money references are in Australian dollars, unless otherwise provided;
            %span.spaced
              (g) month means calendar month;
            %span.spaced
              (h) if a party is a corporation, a reference to that party's authorised officer includes an officer  of the corporation  as defined  in the Corporations  Act or any other person authorised to act on its behalf; and
            %span.spaced
              (i) except as otherwise specified in this document, words defined in the Transaction Documents have the same meaning in this document;.

    %ol{ style: "counter-reset: item 1" }
      %li.section-name
        %strong Registration and Skippr Account
        %ol
          %li
            You agree to comply with the following registration process:
            %span.spaced
              (a) we will require you first to apply and register with us to create a Skippr
              Account;
            %span.spaced
              (b) you agree to provide accurate registration, including your correct legal name, date of birth, e-mail address, current address and all other particulars or information requested or  required by or in connection with the registration process. You must inform us promptly of any changes in such information;
            %span.spaced
              (c) you agree to provide us with the account number of the Australian bank account that you wish to use to pay money to, and or receive money from your Nominated Bank Account;
            %span.spaced
              (d) you authorise us, at any time, to use any means that we consider necessary to verify your identity with any third party providers of information. Please refer to our Privacy Policy for details of steps we may undertake to do this; and
            %span.spaced
              (e) within the registration or application process you will be required to choose a login code, which must be a valid e-mail address, and a password.
          %li
            Registration will be conducted using secure server encryption.
          %li
            We will on completion of the registration process in clause 2.1(a):
            %span.spaced
              (a) confirm by e-mail, to the address you have supplied, that your Skippr Account is open; and
            %span.spaced
              (b) inform you of your user code or number (your Skippr Account Number) that we will use in all correspondence with you.
          %li
            You agree to ensure that your:
            %span.spaced
              (a) Login code;
            %span.spaced
              (b) Password;
            %span.spaced
              (c) Skippr Account Number; and
            %span.spaced
              (d) Skippr Account Information
            %span.spaced
              is  kept  secure  at  all  times  and  acknowledge   that  such  information   is  strictly confidential and it is your sole responsibility and liability for any misuse of such information  where any loss or damage is sustained  due to your failure to keep your Skippr Account lnformation secure.
          %li
            You agree to engage in electronic password best practice by:
            %span.spaced
              (a) changing your password on a regular basis;
            %span.spaced
              (b) using a password which contains a combination of upper and lower case letters and numbers and/or symbols; and
            %span.spaced
              (c) use a combination  of non obvious letters and numbers in different cases, to mitigate the risk of unauthorised use of your Skippr Account.
          %li
            You must notify us as soon as becoming aware of any or potential loss, theft or misuse of the password or if you suspect it has become known to an unauthorised person.
          %li
            You agree and acknowledge that:
            %span.spaced
              (a) all correspondence, orders, transfers and instructions will be made by reference to your login code, password or Skippr Account Number; and
            %span.spaced
              (b) you must inform us immediately either by e-mail or telephone if you believe that a person is misusing any of your Skippr Account lnformation and in such circumstances.  We may exercise our right to suspend your Skippr Account.
          %li
            We take no responsibility whatsoever where you have provided us with any incomplete, inaccurate, false or misleading information when registering or using the Service. In the event that your details have changed since you last used the Service, you must provide us with your updated details.
          %li
            You acknowledge and accept that we may communicate with you and send you notifications via email or any other electronic means for the following reasons including but not limited to:
            %span.spaced
              (a) your eligibility to use the Services;
            %span.spaced
              (b) any further information in connection with your application that we may require from time to time;
            %span.spaced
              (c) any relevant notices or acknowledgements received from debtors or other relevant third parties in connection with the provision of goods or services; or
            %span.spaced
              (d) any other matters (subject always to our Privacy Policy) we consider or deem appropriate;
            %span.spaced
              where there is a failure to receive any electronic notification we accept no liability for any loss or damage incurred for any reason whatsoever.
          %li
            We will only use Confidential Information concerning you for the purpose of undertaking credit checks, preventing fraud or anti-money laundering and exercising our rights under these Terms (or any related terms on the Site), and for those purposes we may, at our discretion, divulge or communicate to any authorised third parties or as required by law or any credit reference agencies any such Confidential Information.
    %ol{ style: "counter-reset: item 2" }
      %li.section-name
        %strong Use of Platform
        %ol
          %li
            You agree not to:
            %span.spaced
              (a) register with us
              %span.spaced
                (i) more than once; or
              %span.spaced
                (ii) on behalf of another person or entity without the prior written authorisation of that person or entity to do so;
            %span.spaced
              (b) impersonate, any person or entity, or falsely state or otherwise misrepresent yourself, your financial employment or personal circumstances or your affiliation with any person or entity;
            %span.spaced
              (c) use or attempt to use another's user Account, service or system without authorisation from us;
            %span.spaced
              (d) create a false identity on the Platform;
            %span.spaced
              (e) solicit personal information from anyone or solicit passwords or personally identifying information for commercial or unlawful purposes; and
            %span.spaced
              (f) transact on the Platform on the basis of any change (other than a change agreed with Skippr) to these Terms, or any other terms or conditions contained on the Site or documents which otherwise regulate the transaction.
          %li
            You acknowledge that:
            %span.spaced
              (a) your use and access to the Site and Platform is entirely at your own risk;
            %span.spaced
              (b) the Platform provides a forum to sell Invoices;
            %span.spaced
              (c) we do not represent the Investor;
            %span.spaced
              (d) the Sale of an Invoice is entirely at your own risk and any decision whether or not to sell an Invoice is made solely by you, the Seller;
            %span.spaced
              (e) we do not guarantee the quality, safety or legality of Invoices or the truth or accuracy of Sellers' Posts, the ability of Sellers to sell invoices, the ability of Investors to buy Invoices or that a Debtor, Seller or Investor will complete a transaction;
            %span.spaced
              (f) the enforcement of any right or obligation by any party using the Platform will be the sole responsibility of the aggrieved party; and
            %span.spaced
              (g) you are solely responsible for ensuring that all conduct in connection with the operation of your Account and the Site are at all times lawful.
    %ol{ style: "counter-reset: item 3" }
      %li.section-name
        %strong Fees and Charges
        %ol
          %li
            In consideration for the use of the Service and Platform you agree to pay us the fees and charges on the due date (the "Charges").
          %li
            The Charges payable will be fixed by us at the time an Invoice is posted on the Site for sale. You agree that Charges owed to us will be rounded to the nearest two (2) decimal places and where the amount ends in 0.5 it will be rounded up to the nearest whole number.
          %li
            Any amount owed to us and not debited from your Skippr Account must be paid immediately in clear funds accordance with the terms of our invoice.
          %li
            Late  payments  for  any  Charge  owed  to us  will  be  subject  to a late  fee  and  the following recovery procedure:
            %span.spaced
              (a) we will contact you within fourteen (14) days following due date for any Charge; and
            %span.spaced
              (b) where an outstanding amount has not been settled within fourteen (14) days of us contacting you, we will send you a default notice and may refer the matter to a debt collection agency.
    %ol{ style: "counter-reset: item 4" }
      %li.section-name
        %strong Operating Account
        %ol
          %li
            All transactions related to the sale of Invoices will occur via the Operating Account.
          %li
            You will not receive any interest on amounts deposited into the Operating Account.
          %li
            The relationship between you and us as an account holder is not a trust or fiduciary relationship.
          %li
            You must not register a Security interest on the PPSR against us as to funds you or another have deposited into the Operating Account.
          %li
            We may suspend your access to the Operating Account for any period at its absolute discretion. We will refund money you have deposited into the Operating Account upon suspension; less any amounts you owe us for any reason, contingently or otherwise.
          %li
            You  authorize us to make deductions from the Balance in the following circumstances:
            %span.spaced
              (a) where you owe, or may owe, us money for any reason, contingently or otherwise;
            %span.spaced
              (b) where we incur legal costs in defending or enforcing these Terms (in our own right or via an agent, for example) or assisting other parties in defending or enforcing their rights against you;
            %span.spaced
              (c) where required or authorised by law to:
              %span.spaced
                (i) transfer the Proceeds for an Invoice to the Seller of an Invoice; or
              %span.spaced
                (ii) collect our fees and Charges or any late payment entitlement,  in the event you successfully purchase an Invoice.
          %li
            Subject to these Terms, you will be entitled to withdraw funds from the Operating
            Account by submitting a written request to us.
          %li
            An Investor may only withdraw amounts up to the value the Investor currently has deposited in the Operating Account less the amount paid by the Investor for Invoices.
          %li
            We  will  use  best  endeavours  to  ensure  that  the  funds  are  transferred  to  your nominated personal account, within 48 hours of receiving your request.
          %li
            You may close your account at any time subject to you paying us any outstanding fees.

    %ol{ style: "counter-reset: item 5" }
      %li.section-name
        %strong Verification, Rating and Approval of Invoices
        %ol
          %li
            For all Invoices submitted, by you, for approval by Skippr;
            %span.spaced
              (a) we will, in our absolute  discretion,  and after  conducting  any due diligence, including but not limited to verifying the invoice(s) with your Customer, apply a Invoice Rating9  to each invoice using our internal rating system and classify an Invoice as Approved or Disapproved; and
            %span.spaced
              (b) we may, in our absolute discretion, undertake such enquiries and investigations we deem necessary prior to classifying an Invoice as Approved or Disapproved and the Seller agrees   to co-operate and provide all information or assistance required by us (acting reasonably). There is no obligation for us to approve or rate an Invoice for Sale.
          %li
            If an Invoice is deemed by us, at our discretion and at any time, to be Disappr oved then the Disapproved Invoice will be irrevocably  assigned from the Investor to the Seller and the Seller (and not the Investor) will be responsible for the collection (and recovery) of the payment of the Invoice.

    %ol{ style: "counter-reset: item 6" }
      %li.section-name
        %strong Sale and purchase of invoices
        %ol
          %li
            Skippr, acting  as  the investor’s agent,  will  make  an  offer  to  purchase  each approved   invoice  based  on  the  Invoice  Rating  set  by  the  platform  (the  "Buy Mandate").
          %li
            As an Investor, you unconditionally and irrevocably authorize and instruct us, as your buying  agent,  to  enter  into  the foregoing  contract  that  is  within  the  Buy  Mandate insofar   as  necessary,   in  each  case  you  agree  that  any  offer  made  by  your confirmation  of  Buy  Mandate  will  be  deemed  to have  been  made  by us  on  your behalf.
          %li
            Once a Seller is approved by the Platform and their Invoice has been Approved for sale, the Seller can sell the invoice individually or as part of a group by creating a Trade10. Once a Trade had been created, the Seller can view the details (Advance Amount and Discount Fee) 11of the Trade and then elect to 'Sell Now'.
          %li
            The  Seller  can  elect  to  activate  the  'Sell  Now'  function  and  then  'Confirm  trade' which  will  immediately   execute  the  Seller's   acceptance   of  the  buyer's  offer  to purchase the Invoice or Invoices.
          %li
            The binding contract to sell the Invoice will come into effect  and  be fully  binding immediately once the Seller confirms the Trade (the "Sell Mandate"). This completes the sale of the invoice(s) in the Trade.
          %li
            We may extend, at our discretion, the sale process once a Seller has confirmed a Trade if the conditions which applied to the Invoice approval are no longer valid.
          %li
            Each Sale will take effect or be deemed as an unconditional sale of the entire legal and beneficial interest of an Invoice to us, acting as agent or trustee on behalf of an Investor or for an Investor to the extent of their interest in the Invoice.
          %li
            On the completion of the Sale, ownership of each Invoice by us or the Investor  (as the  case  may  be)  after  the  date  of  this  Agreement and  before  termination of  this Agreement,  transfers to the Investor immediately on confirmation of the Trade. As part of each transfer or assignment of an Invoice all Related Rights associated with that Invoice (or Debt) are also assigned contemporaneously by the Seller to the Investor.
          %li
            In connection with each sold Invoice on the Platform, as Seller you acknowledge and agree that:
            %span.spaced
              (a) if, for whatever  reason,  title  to or benefit  of the Invoice  fails  to vest  in us absolutely and effectively,  you will hold on trust for us absolutely the Invoice and/or its Related Rights and any Proceeds,  separate from your own funds; and
            %span.spaced
              (b) you  will  hold  on trust  for  us  any bad  debt  insurance  (or  similar  payment) obtained  by  you  in  respect  of  an  Invoice  which  you  have  assigned  or purportedly assigned to us.
          %li
            If we require, you will, as a Seller, immediately and at your expense, take any step necessary to perfect the assignment of the Invoice to us (having regard to the requirements  of the PPSA), of, or our title to, or the trust in our favour in relation to, any Sale Invoice and the Proceeds of same.

    %ol{ style: "counter-reset: item 7" }
      %li.section-name
        %strong Sale Price and Payments
        %ol
          %li
            You agree that the Sale Price for an Invoice posted on the Platform is the Face Value of the Invoice less the Discount Rate and any other monetary allowances, discounts and credits which may be payable in connection with the use of the Platform.
          %li
            Immediately  following  a Sale  or Trade,  Skippr  or the Investor  must  remit  the Advance Amount to the Seller by electronic  funds transfer to the Seller's  nominated bank account less the Skippr Exchange Fee and Transaction Fee ("Net Advance").
          %li
            If you are a Seller, subject to these Terms, we will pay to you:
            %span.spaced
              (a) on completion  of each Sale, an amount  equal to the Advance  Amount  less the SKIPPR Exchange Fee and Transaction Fee; and
            %span.spaced
              (b) on  receipt  of  the  Proceeds  for  the  Sale  from  your  Customer/Debtor,   the balance  of the Face Value of the Invoice less the Discount Fee and/or any other funds you owe us.
          %li
            With respect to Investors, subject to these Terms we will pay to you:
            %span.spaced
              (a) on receipt of the Proceeds from debtor or customer from the Sale an amount equal to your proportion of the Advance made to the Seller and the Discount Fee, less the Skippr Investor Fee; and
            %span.spaced
              (b) your  proportion   of  any  payment   made  by  a  Seller  to  us  towards   the Repurchase    Price   of   an   Invoice   (if   applicable),    less   any   applicable Skippr Fee and/or any other funds you owe to us.
          %li
            Payments by us will be made to your Nominated Account in clear funds.
          %li
            All funds due to you under these Terms will be paid within 3 working days. If payment is due on a day other than a Business day then payment will be required on the following Business Day.

    %ol{ style: "counter-reset: item 8" }
      %li.section-name
        %strong Assignment Notification
        %ol
          %li
            Each Seller must provide, as requested or required by us:
            %span.spaced
              (a) assignment  notices  in a  form  determined  by  us  to complete  and  send  to
              Debtors as we determine;
            %span.spaced
              (b) immediately notify each Debtor that the Invoice due by it has been Assigned to us when the Invoice is sold (or when we otherwise direct);
            %span.spaced
              (c) ensure that Invoices issued (that are subsequently  Posted for Sale) are sent to the Debtor with an Assignment Notice duly affixed; and
          %li
            Skippr will as required:
            %span.spaced
              (a) immediately notify each Debtor that the Invoice due by it has been Assigned to us when the Invoice is sold (or when we otherwise direct); and
            %span.spaced
              (b) ensure that  Invoices  sold  via the Platform  are sent to the Debtor with an Assignment Notice duly affixed;

    %ol{ style: "counter-reset: item 9" }
      %li.section-name
        %strong General Undertakings and Warranties
        %ol
          %li
            You, as a Seller, warrant to us in connection with each and every Invoice:
            %span.spaced
              (a) any Invoice provided  or posted on the Platform is exactly the same as the
              Invoice issued to your Customer;
            %span.spaced
              (b) have performed all obligations required for the enforcement  of the debt the subject of the Invoice.
            %span.spaced
              (c) the Invoice  is an existing,  legal,  valid,  binding,  undisputed  and enforceable payment obligation for its value and is payable in full by the on the Anticipated Due Date and is capable of being transferred or sold via our Platform;
            %span.spaced
              (d) you have made enquiries in relation to the creditworthiness  of your Customer and you are satisfied the Customer will pay the Invoice by its due date;
            %span.spaced
              (e) you  have  an  absolute  right  to  assign  title  to  the  Invoice  or  Debt  and  the Invoice is not subject to any Security Interest which affects, or may affect, our ability to receive an absolute Assignment of and payment of the Invoice in full other than any permitted Security Interest;
            %span.spaced
              (f) there  is  no  condition  in  the Agreement or otherwise which  may bar the Assignment of the Invoice to us;
            %span.spaced
              (g) there  are  no  contra  accounts,  set-offs,  abatements,  rebates,  allowances, discounts, credits, defences, counterclaims  or deductions  asserted, allowable or  enforceable  in  relation  to  the  Invoice  or  the  Customer  and  there  is  no dispute between you and the Customer;
            %span.spaced
              (h) the Invoice does not arise from any form of progress claim, consignment sale or pay when paid sale;
            %span.spaced
              (i) the Invoice arose in the ordinary course of the your business described and results from  an  actual,  bona  fide  and  arm's-length  sale  of  goods  or performance of services;
            %span.spaced
              (j) any  Investor  (including  us)  will  obtain  valid  and  unencumbered  title  to the Invoice and no other entity (including a supplier) has any interest in, or claim to, the Invoice or the goods the subject of the Invoice;
            %span.spaced
              (k) the goods  purchased  by, or the services  provided  to, your  Customer  are in accordance  with  these  Terms,  are  the  goods  or  services  described  in  the Invoice and they have been delivered to and accepted by your Customer  or have been fully performed;
            %span.spaced
              (l) the Customer is satisfied with the goods or services;
            %span.spaced
              (m) you have paid on time all fees, duties, taxes (including GST) and charges to enable the goods to be delivered to the Customer or the services to be performed;
            %span.spaced
              (n) you have done nothing, which could make Skippr liable in respect of the Invoice;
            %span.spaced
              (o) the  Invoice  is  payable  in  Australia,  the  currency  of  payment  is  Australian dollars and the goods were sold by the Seller and accepted by the Customer in Australia or the services were performed by the Seller in Australia;
            %span.spaced
              (p) neither the Agreement  nor the Invoice is regulated by the Consumer Credit Code;
            %span.spaced
              (q) you have disclosed in full the terms of the Agreement,  its terms of trade for the  sale  of  goods  or  performance  of  services  and  any  other  terms  and conditions  relating to the Invoice. The Seller cannot cancel, waive or modify them without the Seller's approval;
            %span.spaced
              (r) the Invoice is dated no earlier than the date the goods were accepted by the Seller or performance of the services was completed, and no later than seven (7) days after that date; and
            %span.spaced
              (s) you  have  an  established  place  of  business  in  Australia  and  you  are  an Australian entity.
          %li
            If, for any reason, an Invoice is not transferred to the Investor, the Seller must do anything required to effect the transfer of it.
          %li
            You represent and warrant that:
            %span.spaced
              (a) you are not in liquidation, provisional liquidation or receivership or under administration;
            %span.spaced
              (b) neither you nor any of your Subsidiaries or Related Body Corporate is unable to pay all its debts as and when they become due and payable;
            %span.spaced
              (c) no Controller is currently appointed for any of your property;
            %span.spaced
              (d) you are not the subject of a direction or having effect as if it were a direction under section 14 of the ASIC Act;
            %span.spaced
              (e) you are incorporated as a company limited by shares under the Corporations Act;
            %span.spaced
              (f) you have full legal capacity and power:
              %span.spaced
                (i) to own its property and assets and carry on its business as it is now being conducted; and
              %span.spaced
                (ii) to enter into these Terms and perform its obligations under them;
            %span.spaced
              (g) you benefit commercially by entering into these Terms;
            %span.spaced
              (h) you have  decided  to enter  into these Terms  solely on its own assessment after obtaining advice from its own advisers and has not relied on any representation or statement by Skippr;
            %span.spaced
              (i) your most recent  financial  statements  comply  with the requirements of the Corporations Act, are true and correct,  are not misleading  and have been made up under generally accepted accounting principles and practices consistently applied and in particular disclose all liabilities which distinguishes between secured and unsecured liabilities at that date;
            %span.spaced
              (j) your obligations  under these Terms are valid and legally binding  and are enforceable against it under its terms except to the extent limited by equitable principles and Laws affecting creditors' rights generally;

            %span.spaced
              (k) neither your execution of nor your exercise of its rights or performance of its obligations under these Terms does or will:
              %span.spaced
                (i) contravene  any  authorisation  or  require  that  any  authorisation  be obtained;
              %span.spaced
                (ii) contravene any undertaking  or instrument  binding  on you or any of your property;
              %span.spaced
                (iii) contravene any provision of its constitution, any relevant deed of trust or partnership agreement or any other agreement;
              %span.spaced
                (iv) require you to pay or deliver under any Financial Indebtedness before the scheduled date for that payment or delivery; or
              %span.spaced
                (v) cause any limitation on your power to incur Financial Indebtedness to be exceeded;
            %span.spaced
              (l) no  litigation, arbitration,  mediation, conciliation, dispute or administrative proceeding has started, is pending or to its knowledge is threatened against it which, if adversely determined, could have a Material Adverse Effect on you;
            %span.spaced
              (m) there has been no actual or potential Material Adverse Effect since the date of the preparation of your last financial statements;
            %span.spaced
              (n) there is no fact known to you which has not been disclosed to us which has an actual or potential Material Adverse Effect;
            %span.spaced
              (o) all authorisations  necessary  or desirable  to execute,  deliver  and perform  a Transaction  under these Terms or to protect the exercise by us of our rights and remedies  under  these  Terms  have been obtained  and are in full force and all fees payable under all authorisations have been paid;
            %span.spaced
              (p) no Event of Default or potential Event of Default has occurred or is likely to occur under these Terms;
            %span.spaced
              (q) you  have  disclosed  to  us  details  of  all  its  Financial  Indebtedness  and  all Security Interests given by you;
            %span.spaced
              (r) you are the legal and equitable  owner of the Receivables  the subject of the Invoice (the "Receivables")  and have full power and authority to assign the Receivables/Invoices  to us; and
            %span.spaced
              (s)  you do not have notice of any dispute or claim relating to the Customer's liability to pay the Invoice to us.

    %ol{ style: "counter-reset: item 10" }
      %li.section-name
        %strong PPSR Registrations
        %ol
          %li
            We may, but are not obliged to, register or enforce a Security Interest.
          %li
            You, as a Seller, acknowledge that you grant us, as agent for an Investor:
            %span.spaced
              (a) a deemed Security Interest in each Invoice by virtue of the assignment of the
              Debts the subject of the Invoice(s); and
            %span.spaced
              (b) an  assignment  of  the  benefit  of  any  Security  Agreement  and/or  Security Interests (whether perfected by possession or otherwise) granted by the Customer to secure the obligations owed under the Invoice;
          %li
            You, as a Seller, must do anything that we reasonably require to:
            %span.spaced
              (a) ensure  that  we, as agent  for the Investor,  has,  at all times  a continuously perfected Security Interest over such Invoices for the purposes of the PPSA; and
            %span.spaced
              (b) enable  the  assignment   of  the  benefit  of  any  security  agreement   and/or transfer of Security Interests (whether perfected  by possession  or otherwise) granted by the Customer to secure the obligations owed under the Invoice.
          %li
            You will not (except  with our written  consent)  allow to be, or be liable to become, perfected  or  attached  in  favour  of  any  person,  a  Security  Interest  in  any  of  the monies  from  the  time  payable  to  us,  and  whether  to  a provider  of  new  value  or otherwise.
          %li
            You  waive  the  right  to  receive  a  copy  of  the  verification  statement  confirming registration  of a financing  statement  or financing  change  statement  relating  to the security interest under these Terms.
          %li
            You agree that we can contract out of and the following provisions of the PPSA will not apply to these Terms: sections 95, 96, 117, 118, 121(4), 130, 132(3)(d), 132(4),
            142 and 143.
          %li
            You consent to and appoint us to be an interested person and your authorised representative for the purposes of section 275(9) of the PPSA.

    %ol{ style: "counter-reset: item 11" }
      %li.section-name
        %strong Repurchase of Invoices
        %ol
          %li
            We may direct or require a Seller to repurchase a Sold Invoice upon or at any time after the occurrence of an Event of Default, or if we have grounds to believe that the Invoice   is or has become   a Defaulted   Invoice.   The Seller must pay us the Repurchase Price and Repurchase Fee.
          %li
            The Repurchase Price, in respect of any day which a Sold Invoice is outstanding, will be calculated in accordance with the following formula:
            %span.spaced
              [DF + A + RF] - C
              %br
              DF is the Discount Fee on the relevant day
              %br
              A is the Advance amount
              %br
              RF is the Repurchase Fee
              %br
              C  is  any  sum  actually  received  in  cleared  funds  and  applied  to  us  in  or towards the discharge of the Sale Invoice
          %li
            Upon payment in full by the Seller of the Repurchase Price and any other funds due to us under this Agreement, the beneficial interest in the Sold Invoice will transfer to the Seller. If or as requested by the Seller, and if applicable,  we will confirm the re- transfer of the any such Sold Invoice and lodge a financing change statement on the PPSR.

    %ol{ style: "counter-reset: item 12" }
      %li.section-name
        %strong Termination and Events of Default
        %ol
          %li
            We may terminate your Skippr Account (and corresponding membership) at any time upon ten (10) business days prior written notice given by us to you, or you to us.
          %li
            Each  of  the  following  will  be  an  Event  of  Default,  upon  or  at  any  time  after  the occurrence  of which we may terminate  these Terms (and any associated  or related arrangements) by notice in writing:
            %span.spaced
              (a) you breach or threaten to breach any  warranty, undertaking or other obligation given or any related guarantee or security;
            %span.spaced
              (b) you fail to pay any sum due from you to us under or in connection with these
              Terms.
            %span.spaced
              (c) you  are  determined  by  us  to  have  (or  have  attempted  to)  hack  into  or otherwise  interfere  with  the  Platform,  or  we  have  reason  to  believe  you committed or attempted to commit any act of fraud on or through the Platform;
            %span.spaced
              (d) you or one of your Customers (the Debtor) becomes lnsolvent;
            %span.spaced
              (e) you fail to pay any sum due under any other financing facility or arrangement made available  by any person  to you or otherwise  breach the terms of any such facility;
            %span.spaced
              (f) you cease to carry on the business  conducted  by you when you opened a
              Skippr Account;
            %span.spaced
              (g) we believe  there is a serious  deterioration  in your financial  position  or your creditworthiness  or in your operating  performance  or your management  and control  or in your  general  day  to day  administration  and organisation  or in your ledger administration or credit control procedures; or
            %span.spaced
              (h) any lender  or holder  of a Security  lnterest  who has waived  or released  its rights  to  your  lnvoices,  withdraws  or  attempts  to  withdraw,  the  waiver  or release or otherwise asserts any interest in your Debts.
          %li
            On expiry of the period of  notice  to terminate your  Skippr  Account,  or (if we elect) at any time after an Event of Default has occurred (whether we have chosen to exercise our right to terminate the Skippr Account), we may do all or any of the following:
            %span.spaced
              (a)  suspend your rights  to participate  or use the Platform  and/or  cancel any of your Posts (without releasing any of your obligations or liabilities to us or other participants or account holders);
            %span.spaced
              (b) require you to repurchase any or all your outstanding sold lnvoices;
            %span.spaced
              (c) demand  immediate  payment  of any Repurchase  Price then or prospectively owing to us, and any and all fees and charges (and, if we cannot calculate the precise amount of any liability owing on the date of making a provision for it or a demand  for  payment,  we may  use  a reasonable  estimate  in making  the provision or demand); or
            %span.spaced
              (d) refuse requests for withdrawals from and retain the account balance pending the settlement of all sums then or prospectively owing by you to us).
          %li
            As Seller, you agree that after an event of Default occurs that you will at your own expense, provide  all  assistance  requested  by us  to enable  us  to collect  and  Sold Invoice.
          %li
            Except as otherwise provided, termination of your Skippr Account will not affect our respective rights or obligations in respect of:
            %span.spaced
              (a) any of your outstanding Sold Invoices;
            %span.spaced
              (b) all  transactions  or  events  having  their  inception  prior  to  the  termination, including the continued running of all fees, charges and expenses payable by you and our rights to set-off monies or combine accounts; and
            %span.spaced
              (c) any Confidential Information.

    %ol{ style: "counter-reset: item 13" }
      %li.section-name
        %strong Notification to Sellers and Collection of Debts
        %ol
          %li
            We can:
            %span.spaced
              (a) advise each  Customer  who  is or  may  become  indebted  to the Seller  that
              Invoices have been assigned to us or will be sold on the site;
            %span.spaced
              (b)  tell the Customer in such a way and at such intervals as we determine; and
            %span.spaced
              (c)  issue documents in such a way that we may stipulate.
          %li
            You  must  do  all  things  necessary  to  ensure  all  Invoices  will  be  paid  in  full  by
            Customers, including but not limited to:
            %span.spaced
              (a) do everything  within  your power  or as directed  by us to pursue or recover payment of an Invoice if a Customer fails to pay the Invoice;
            %span.spaced
              (b) provide copies of any contracts, agreements or arrangements between  you and the Customer(s), including any variations or revisions  to such contracts, agreements or arrangements;
            %span.spaced
              (c)  provide us with financial information as requested from time to time, including, but not limited to, financial  statements,  management  accounts,  sales ledger and Debtor statements;
            %span.spaced
              (d) inform Skippr immediately of any change to your financial position or any circumstances that may affect our decision to purchase an Invoice;
            %span.spaced
              (e)  inform us immediately of any Insolvency Event occurring; and
            %span.spaced
              (f) allow us access to view your Account/Profile.
          %li
            In addition, as a Seller, you must not:
            %span.spaced
              (a) collect or enforce payment of an Invoice unless you have been authorised to do so as our agent or have our express written approval;
            %span.spaced
              (b) create or attempt to create a Security Interest over an Invoice or permit any Security  Interest  to arise  or  otherwise  deal  with  an  Invoice  or  in any  way attempt to do so; or
            %span.spaced
              (c) adjust the value or amount of an Invoice (including by issuing a Credit Note); compound,  compromise,  set  off  or  discharge  an  Invoice;  extend  time  for payment  of  an  Invoice  or  take  proceedings  to  enforce  an  Invoice  without obtaining our written approval.

    %ol{ style: "counter-reset: item 14" }
      %li.section-name
        %strong Intellectual Property
        %ol
          %li
            All the Intellectual Property is valid and subsisting.  You agree not make any use of our  Intellectual  Property  including  the  Site  (or  any  other  URL  owned  by  us)  on another website or digital platform without our prior written consent.
          %li
            You agree to assign to us any intellectual property rights (including copyright) in any offers placed by you on the Platform.We own all rights in any Invoice or receivable value data and related content on the Platform.   Your registration and use of our Platform confers no rights whatsoever to the content and related intellectual property rights contained in our Platform.  You agree not to monitor, use or copy our web pages or any content on the Platform, including without limitation any price data. Any unauthorised use or reproduction may be prosecuted.
          %li
            Any data licensed to Skippr from third parties is provided for use on the Site only and may not be used for any commercial purposes without the consent of such third parties.

    %ol{ style: "counter-reset: item 15" }
      %li.section-name
        %strong Membership Rules
        %ol
          %li
            You must ensure that you comply with and observe your obligations and any laws relevant to you as an Investor or Seller under these Terms.
          %li
            You are solely responsible for ensuring that  your Account and/or Profile selling, buying and any other activities  conducted  on our site are lawful. You must ensure that you comply with  all applicable laws in  Australia and, if applicable, other countries. You must also ensure that you strictly comply with these Terms and the policies which form part of these Terms.
          %li
            You warrant that you have such knowledge and experience in financial and business matters  that  you  are  capable  of  evaluating  the  merits  and  risks  of  purchasing Invoices and have conducted your own due diligence about your participation  on the Platform.
          %li
            You understand that by your action in using the Services you may sustain financial losses and accept that you are fully responsible for any such loss.
          %li
            You  must  use  for  no  other  purpose  except  for  its  intended  purpose  and  will  not attempt to hack, make unauthorised  alterations to or introduce any kind of malicious code to the Site or the Company by any means.
          %li
            Unless given prior approval from Skippr or as otherwise permitted by law, you will not:
            %span.spaced
              (a) reverse  engineer  or  decompile  (whether  in  whole  or  part)  any  software available through the Site; or
            %span.spaced
              (b) make copies, modify, reproduce, transmit, alter the information contained on the Platform or Site.
          %li
            You have undertaken such enquiries and investigations as You consider fit in relation to the Seller, Debtor and or Invoices the subject of a Sale on the Platform.
          %li
            If you require further information about  how your  data will be used by the Credit Reference Agencies it is set out in our Privacy Policy.

    %ol{ style: "counter-reset: item 16" }
      %li.section-name
        %strong Anti-money laundering and counter terrorism law
        %ol
          %li
            You warrant to us that you are not aware, suspect nor have any reason to believe that:
            %span.spaced
              (a) any financial accommodation was provided; or
            %span.spaced
              (b) the performance of any transaction, using the Platform will be applied (either directly or indirectly)  or related to any money laundering,  terrorism financing or similar  activity  illegal  under  any applicable  law of the Commonwealth  of Australia or otherwise prohibited under any international convention or agreement.
          %li
            We may exercise at our absolute discretion the right to either:
            %span.spaced
              (a) delay or refuse to make a payment; or
            %span.spaced
              (b) delay or prevent the settlement of a transaction,
            %span.spaced
              where in the reasonable opinion of Skippr it has formed the view that a payment or transaction may be in breach any of those laws, conventions or agreements contemplated  in  this  clause.  Any participants or user  of  the  Platform  agrees  that where Skippr has exercised its rights under this clause, Skippr will not be liable for any claim or damage whatsoever.

    %ol{ style: "counter-reset: item 17" }
      %li.section-name
        %strong Exclusion and Limitation of Liability
        %ol
          %li
            Despite any other provision of these Terms and to the maximum extent permitted by law,  Skippr  will  not  bear  any  liability  to  the  other  party  for  loss  of  profits, business  opportunities,  goodwill,  and any indirect  or consequential  loss howsoever arising (including in negligence or for breach of any statutory duty).
          %li
            To the extent permitted by law, we will not be liable in any way whatsoever for any loss or damage suffered as a result of any action initiated by any party, even if such loss or damage was reasonably foreseeable, including but not limited to:
            %span.spaced
              (a) failure or loss of operations or data contained on the Platform; 
            %span.spaced
              (b) any electric or other power failure causing an internet outage;
            %span.spaced
              (c) breakdown of any apparatus affecting the Platform;
            %span.spaced
              (d) any court order affecting the operations of Skippr;
            %span.spaced
              (e) any loss of goodwill;
            %span.spaced
              (f) any loss of profits sustained due to your breach of these Terms;
            %span.spaced
              (g) any loss sustained due to our negligence;
            %span.spaced
              (h) any security breach or misuse of your Skippr Account lnformation;
            %span.spaced
              (i) for not exercising reasonable skill and care in determining the Credit Rating of any party using the Skippr Platform (and any claim shall be limited to the value of a particular invoice);
            %span.spaced
              (j) in relation to any failure or delay in the Skippr account opening process;
            %span.spaced
              (k) any failure in the process to match prospective lnvestors and Sellers;
            %span.spaced
              (l) our failure  to pay any sum properly  due in relation  to an Transaction  (any liability shall be limited to that amount); and
            %span.spaced
              (m) any other cause beyond the control of Skippr.
          %li
            We will not be liable for any loss or damage that you may suffer because of any: act of God; power cut; trade or labour dispute, act, failure or omission of any government or authority;  obstruction  or failure of telecommunication  services; or any other delay or failure caused by any third party. In such an event, we reserve the right to cancel or suspend our services without incurring any liability.
          %li
            We will not be liable for any loss or damage that  you may suffer  because  of any negligence or failure to perform by any other person who is party to these Terms (as amended from time to time).

    %ol{ style: "counter-reset: item 18" }
      %li.section-name
        %strong Power of Attorney
        %ol
          %li
            For  valuable  consideration,   the  Seller  irrevocably  appoints  the  Investor  and  the Investor's  Authorised  Representatives  severally  its attorneys  with  full power  in the name of the Seller or the attorney to:
            %span.spaced
              (a) do all acts, matters and things and execute all documents which the attorney considers desirable or expedient:
              %span.spaced
                (i) for the due performance  of any obligation  of the Seller under these Terms;
              %span.spaced
                (ii) for more effectively securing to the Financier the due performance  of the Client's obligations under this document;
              %span.spaced
                (iii) for  more  effectively  securing  or  perfecting  any  charge  or  interest constituted by any Transaction Document; and
              %span.spaced
                (iv) for the collection or enforcement  of the purchased Approved Invoices or  for  the  perfection  of  the  assignment  of  any  (and  all)  Approved Invoices;
            %span.spaced
              complete  any  blanks  and  correct  any  manifest  errors  in  any  Transaction Document and register any Transaction Document; and
            %span.spaced
              do anything which the Financier may do under any Transaction Document or by Law following the occurrence of an Event of Default.
          %li
            An attorney appointed under clause 19.1 may act despite any conflict of interest.

    %ol{ style: "counter-reset: item 19" }
      %li.section-name
        %strong Trust Provisions
        %ol
          %li
            This clause 20 applies where a party has entered into these Terms as the trustee of a Trust.
          %li
            The Seller undertakes that it will not without the Financier's consent:
            %span.spaced
              (a) in any way vary, revoke, terminate or resettle the Trust Deed or permit any variation, revocation, termination or resettlement of the Trust Deed;
            %span.spaced
              (b) cease to be the sole trustee of the Trust or do anything which would cause or permit the removal of the trustee or permit any additional or substitute trustee to be appointed;
            %span.spaced
              (c) cause or permit the Trust to be determined or a vesting date to be appointed;
            %span.spaced
              (d) allow default by the trustee in the observance or performance of its duties as trustee of the Trust;
            %span.spaced
              (e) distribute or dispose of any part of the trust fund in any way;
            %span.spaced
              (f) make  any  distribution  of  income  of  the  Trust  if  an  Event  of  Default  has occurred;
            %span.spaced
              (g) act as trustee of any other trust or carry on any business except as trustee of the Trust;
            %span.spaced
              (h) delegate  any  powers  as  trustee  of  the  Trust  or  exercise  any  power  of appointment;
            %span.spaced
              (i) do  anything  which  may  or  is  likely  to  prejudice  the  Financier  under  any Security under any Transaction Document;
            %span.spaced
              (j) if the Trust is a unit trust, make sure that no units are issued, transferred, redeemed, encumbered or dealt with in any way;
            %span.spaced
              (k) do  or  permit  anything  which  adversely  affects  its  right  of  indemnity  or  its equitable lien against the trust fund; and
            %span.spaced
              (l) re-settle, set aside or transfer the whole or any part of the trust fund to any person or mix the whole or any part of the trust fund with any other property.
          %li
            The Seller undertakes that it will:
            %span.spaced
              (a) comply with its obligations as trustee of the Trust under the Trust Deed or at Law;
            %span.spaced
              (b) make sure that the Investor's rights under the Transaction Documents rank in priority to the interests of the beneficiaries of the Trust;
            %span.spaced
              (c) make sure that  all property  that  is acquired  for the Trust  is acquired  in its name;
            %span.spaced
              (d) make sure that its powers under the Trust Deed are not revoked or modified;
            %span.spaced
              (e) notify the Investor immediately if a representation or warranty in clause 10 is found to be untrue or misleading by omission or in any other way;
            %span.spaced
              (f) at the request of the Investor exercise its right of indemnity against the trust fund and the equitable lien which secures that indemnity to enable payment of the Money Owing to the Financier;
            %span.spaced
              (g)  grant the Investor  direct access  and recourse  to the trust fund to satisfy its obligations under the Transaction Documents; and
            %span.spaced
              (h)  make sure that any person who becomes  a trustee  of the Trust whether  in replacement  of or in addition to the Client enters into an agreement  with the Investor under which it will perform its obligations under the Transaction Documents.
          %li
            We may exercise at our absolute discretion our right, without notice to you, to set off any liability owed to us or to our customers by you, including (without limitation) in relation to  any  Skippr  account  in  your  name  or  which  we  believe  to  be  under your control; against any funds held in another Skippr account in your name or which we believe to be under your control.

    %ol{ style: "counter-reset: item 20" }
      %li.section-name
        %strong Notices
        %ol
          %li
            Notices under these Terms may be delivered by hand, by mail or by facsimile to the Addresses specified in the
            %em Schedule to a Transaction Document.

    %ol{ style: "counter-reset: item 21" }
      %li.section-name
        %strong Execution
        %ol
          %li
            These Terms may be executed in counterparts by the respective Parties, each of which when so executed shall be deemed to be an original and all of which taken together shall constitute one and the same agreement, provided that these Terms shall be of no force and effect until the counterparts are exchanged.

    %ol{ style: "counter-reset: item 22" }
      %li.section-name
        %strong Miscellaneous
        %ol
          %li
            Every provision in these Terms is independent of the others and any provision which is prohibited or unenforceable under any jurisdiction in so far as to the prohibition or unenforceability, considered removed without invalidating the remaining provisions of these Terms.
          %li
            You  acknowledge  that  these  Terms  constitute  the  entire  agreement  between  the parties  with  respect  to the  matters  dealt  with  by  these  terms,  except  where  it is expressly stated that those additional terms shall apply.
          %li
            Each  party  shall  treat  all  information   the  subject  of  these  Terms  of  Use  as confidential  information  and must be treated at all times in manner consistent  with Our Privacy Policy. Skippr's Privacy Policy can be viewed on, or downloaded from, the Site.  Alternatively, you can ask us for a copy.  The privacy policy is incorporated   into these Terms.  It outlines the information   Skippr and an Authorised Investor collects and how a Seller can access it.
          %li
            These Terms are governed by the laws of New South W ales.  All parties  agree  to submit to non-exclusive  jurisdiction of the courts of New South W ales and any courts which  may  hear  appeals  from  those  courts  in  respect  of  any  proceedings   in connection these Terms.
          %li
            You may not assign any of these Terms without Skippr's prior written consent but Skippr may assign these Terms to its Subsidiaries without notice to you.
