!!!
%html.bg
  %head
    = render "shared/meta_tags"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body#account

    = render 'shared/header'


    .container
      .row
        #flash
          - flash.each do |name, msg|
            = content_tag :div, msg, class: "alert alert-#{name}"

    = yield

    = render 'shared/dark_footer'

    = render "analytics"
