!!!
%html
  %head
    = render "shared/meta_tags"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body#home

    %div
      #flash.home
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-#{name}"

    = yield

    %footer
      = render 'shared/footer'

    = render "analytics"
