.admin-page__header
  = link_to "Create Mandates", "#", class: "admin-page__header_heading"

.main-content
  %h2 Create a new mandate
  .row
    .col-sm-12
      = form_for @mandate,
        url: custom_admin_mandates_path,
        html: { role: "form", class: "form-horizontal main-content__form" }  do |form|

        = render "/application/error_messages", object: @mandate
        = render "form", form: form

        .col-sm-offset-2
          = button_tag(type: 'submit', class: "button-clear") do
            %span Save
