#features
  #tabs
    .container.debtors-show
      .col-md-12
        .debtor
          = render 'application/flash'
          .row
            %section.col-md-12
              .debtors
                = render 'debtor_header'

                = render 'ageing_debtor_report'

                = render 'invoices'

                = render 'trade_payments_history'

                = render 'credit_reports'

= cloudinary_js_config

:javascript

  $(document).ready(function() {
    $('.upload-customer-receipt').hide();

    $("#new_customer_receipt input[type='file']")
    .fileupload( {

      start: function () {
        $('#upload').text('Uploading..')
      },

      progress: function (e, data) {
        var com = Math.round((data.loaded * 100.0) / data.total)
        $('#upload').text(com +"%")
      },

      fail: function (e, data) {
        $('#upload').text("Try again")
        $('.fail-status').text('Something went wrong with your upload!')
      }
    })
    .on('cloudinarydone', function (e, data) {
      $('#new_customer_receipt').submit();
    });

    $('.progress').attr('style', 'display:none');

    $("#direct_upload input[type='file']")
    .fileupload({
      dropZone: '#direct_upload',

      start: function () {
        $('.upload_button').hide()
        $('#direct_upload .progress').attr('style', 'display:block')
      },

      progress: function (e, data) {
        var com = Math.round((data.loaded * 100.0) / data.total)
        $("#direct_upload .progress .progress-bar").attr("style","width:"+com+"%")
      },

      fail: function (e, data) {
        $('.upload_button').show()
        $('#direct_upload .progress').attr('style', 'display:none');
        $('.preview-upload').text('Sorry, there was an error with your upload. Please try again.')
      }
    })
    .on('cloudinarydone', function (e, data) {
      $('.upload_button').show()
      $("#direct_upload .progress").attr("style","display:none")
      $("#direct_upload .progress .progress-bar").attr("style","width:0%")

      $('.preview-upload').append(
        $.cloudinary.image(data.result.public_id,
          { format: 'png', version: data.result.version,
            crop: 'fill', width: 150, height: 200 })
      );
    });
  });
